include models/igm/lyman_series_coefs_inoue_2014_table2.txt
include models/dust/*.txt
include models/nebular/*.txt
include models/nebular/bc03_miles/*.fits
include models/stellar/bc03_miles/*.fits
include README.rst 
include LICENSE.txt
include filters/UVJ.filtlist
include filters/UVJ/Generic-Bessell.U.dat
include filters/UVJ/Generic-Bessell.V.dat
include filters/UVJ/Keck-NIRC2.J.dat